.additionaly {
  margin-bottom: 35px;

  .tablet({
    margin-bottom: 69px;
  });

  .desktop({
    width: 895px;
    margin-bottom: 0;
  });
}

.additionaly__list {
  .clear-list();

  .desktop({
    border-top: 1px solid @dark-gray;
  });
}

.additionaly__item {
  position: relative;
  padding-top: 13px;
  padding-bottom: 17px;
  border-top: 1px solid @dark-gray;
  border-bottom: 1px solid @dark-gray;

  .tablet({
    padding: 24px 37px;
    padding-bottom: 28px;
    border: 1px solid @dark-gray;
  });

  .desktop({
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 16px;
    border: none;
    border-bottom: 1px solid @dark-gray;
  });
}

.additionaly__wrapper {
  .tablet({
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
  });

  .desktop({
    width: 251%;
    margin-top: 10px;
    margin-right: 37px;
  });
}

.additionaly__link {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: @black;
  text-transform: uppercase;
  text-decoration: none;

  .tablet({
    font-size: 20px;
    line-height: 20px;
  });
}

.additionaly__list-specifications {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 15px;
  line-height: 14px;

  .tablet({
    font-size: 16px;
    line-height: 20px;
  });

  .desktop({
    width: 47%;
    margin: 0;
  });
}
