.additionaly {
  margin-top: 50px;
  margin-bottom: 54px;
}

.additionaly__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: @text-black;

  &--small {
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
  }
}

.additionaly__list {
  .clear-list();
}

.additionaly__link {
  text-decoration: none;
}

.additionaly__list-specifications {
  line-height: 14px;
}
