.button {
  display: inline-block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Oswald", sans-serif;
  color: @text-white;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: @background-color-green;
}

.button--silver {
  color: @text-gray;
  background-color: @background-color-gray;
}
