.contacts {
  background-color: @white;

  &--inner {
    background-color: @background-color-gray;

    .desktop({
      background-color: @white;
    });
  }
}

.contacts__container {
  .desktop({
    position: relative;
  });
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 26px 0;

  .tablet({
    padding-top: 60px;
    padding-bottom: 56px;
  });

  .desktop({
    position: absolute;
    top: 100px;
    left: 0;
    width: 405px;
    height: 83px;
    padding: 59px 80px;
    padding-bottom: 56px;
    background-color: @white;
    z-index: 2;
  });
}

.contacts__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: @black;
  text-transform: uppercase;
}

.contacts__address {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: @text-gray;

  &--form {
    text-transform: none;
  }
}

.contacts__map {
  margin: 0;
}

.contacts__map-frame {
  display: block;
  width: 100%;
  min-height: 362px;
  border: none;

  .tablet({
    min-height: 400px;
  });
}
