.contacts {
  background-color: @white;

  &--inner {
    background-color: @background-color-gray;
  }
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
}

.contacts__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: @text-black;
  text-transform: uppercase;
}

.contacts__address {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: @text-gray;

  &--form {
    text-transform: none;
  }
}

.contacts__map {
  margin: 0;
}

.contacts__map-frame {
  width: 100%;
  min-height: 362px;
  border: none;
}
