.example {
  padding-bottom: 44px;
  background-color: @background-color-gray-dark;

  .tablet({
    padding-bottom: 51px;
    background: linear-gradient(to bottom, #FFFFFF 50%, #EAEAEA 50%);
  });

  .desktop({
    padding-bottom: 60px;
    background: @background-color-gray-dark;

  });
}

.example__container {
  .desktop({
    display: flex;
    flex-wrap: wrap;
  });
}

.example__wrapper {
  .desktop({
    padding-top: 55px;
    width: 50%;
  });
}

.example__description {
  margin-top: 0;
  padding-top: 14px;

  .tablet({
    padding-top: 16px;
    padding-right: 8px;
  });

  .desktop({
    width: 436px;
  });
}

.example__list-result {
  .tablet({
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  });

  .desktop({
    display: block;
  });
}

.example__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 35px;
  margin-bottom: 21px;
  padding: 0 22px;
  text-align: center;

  .tablet({
    width: 47%;
    margin-top: 54px;
    padding: 0 24px;
  });

  .desktop({
    width: 55%;
    margin-top: 84px;
    margin-bottom: 55px;
  });
}

.example__item {
  position: relative;
  z-index: 2;

  &::after {
    content: "";
    position: absolute;
    left: -21px;
    bottom: 25%;
    z-index: -1;
    width: 121px;
    height: 53px;
    border: 1px solid @dark-gray;
    border-radius: 3px;

    .tablet({
      left: -26px;
      bottom: 10%;
      width: 161px;
      height: 70px;
    });
  }
}

.example__item:last-child {
  &::after {
    .tablet({
      left: -12px;
    });
  }
}

.example__definition {
  margin: 0;
  padding: 0 11px;
  font-size: 12px;
  line-height: 12px;
  background-color: @background-color-gray-dark;

  .tablet({
    padding: 0 9px;
    font-size: 14px;
    line-height: 14px;
    background-color: @white;

    br {
      display: none;
    }
  });

  .desktop({
    background-color: @background-color-gray-dark;
  });
}

.example__result-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .tablet({
    display: block;
    align-self: center;
    margin-top: 18px;
  });

  .desktop({
    display: flex;
    justify-content: space-between;
    width: 54%;
  });
}

.example__result {
  margin: 0;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: @black;
  text-transform: uppercase;

  .tablet({
    margin-bottom: 9px;
    text-align: right;
    font-size: 20px;
  });

  &--term {
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 24px;

    .tablet({
      margin-bottom: 11px;
      font-size: 30px;
      line-height: 37px;
      text-align: center;
    });
  }

  &--weight {
    .mobile({
      margin-left: 4px;
    });
  }

  &--time {
    .desktop({
      margin-left: -7px;
    });
  }

  &--range {
    font-size: 16px;

    .tablet({
      font-size: 20px;
      line-height: 30px;
      border-bottom: 1px dashed rgba(0, 0, 0, 0.24);
      cursor: pointer;

      &:hover {
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
      }

      &:active {
        border-color: transparent;
      }
    });
  }
}

.example__slider {
  margin-top: 41px;
  text-align: center;

  .tablet({
    margin-top: 57px;
  });

  .desktop({
    position: relative;
    margin-top: 10px;
  });
}

.example__image-wrapper {
  .tablet({
    display: flex;
    justify-content: center;
    width: 592px;
    margin: 0 auto;
  });

  .desktop({
    position: absolute;
    top: -190px;
    left: 18px;
  });
}

.example__image-container {
  .tablet({
    position: relative;
    width: 50%;
    height: 511px;
    overflow: hidden;
  });

  &--after {
    .mobile({
      display: none;
    });
  }
}

.example__image {
  .tablet({
    position: absolute;
    top: 0;
    height: 100%;
    max-width: none;
  });

  &--before {
    .tablet({
      width: 649px;
      height: 498px;
      top: 3px;
      left: 0;
    });
  }

  &--after {
    .tablet({
      width: 535px;
      right: 0;
    });
  }
}

.example__range {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 71%;
  margin: 0 auto;
  margin-top: 14px;

  .tablet({
    width: 81%;
    margin-top: 31px;

    &:hover {
      .example__button--toggle {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19);
      }
    }

    &:active {
      .example__button--toggle {
        border-color: @background-color-green;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
      }
    }
  });

  .desktop({
    width: 103%;
    padding-top: 322px;
    margin-left: 32px;
  });
}

.example__button-wrapper {
  position: relative;
  transform: translateY(-3px);

  .tablet({
    transform: translateY(-11px);
  });
}

.example__button {
  border: none;

  &--bar {
    width: 86px;
    height: 14px;
    background-color: @white;
    border: 1px solid @dark-gray;
    border-radius: 6px;

    .tablet({
      width: 426px;
      height: 6px;
      background-color: #DCDCDC;
      border: none;
    });
  }

  &--toggle {
    position: absolute;
    top: 50%;
    left: 6px;
    bottom: 0;
    width: 36px;
    height: 6px;
    background-color: @background-color-green;
    border-radius: 6px;
    cursor: pointer;

    .tablet({
      top: auto;
      bottom: auto;
      left: 47%;
      width: 34px;
      height: 34px;
      background-color: @white;
      border: 1px solid @dark-gray;
      border-radius: 50%;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);

      &::after {
        content: "";
        position: absolute;
        bottom: 35%;
        left: 0;
        right: 0;
        width: 8px;
        height: 8px;
        margin: 0 auto;
        border-radius: 50%;
        background-color: @background-color-green;
      }
    });
  }
}
