.gift {
  height: 290px;
  margin-bottom: 35px;
  text-align: center;
  color: @white;
  background-color: @background-color-green;
  background-image: url("../img/gift-mobile.jpg");
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;

  .tablet({
    height: 200px;
    margin-bottom: 76px;
  });

  .desktop({
    height: 289px;
  });
}
