.gift {
  min-height: 290px;
  margin-bottom: 35px;
  color: @white;
  background-color: @background-color-green;
  background-image: url("../img/gift-mobile.jpg");
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;

  .tablet({
    min-height: 200px;
    margin-bottom: 76px;
    background-position: center 63%;
    background-size: cover;
  });

  .desktop({
    align-self: center;
    width: 245px;
    height: 289px;
    margin-left: 80px;
    margin-bottom: 0;
  });

  .retina({
    background-image: url("../img/gift-mobile@2x.png");
  });
}

.gift__description {
  text-align: center;
  position: relative;
  margin: 0;
  padding-top: 187px;

  .tablet({
    text-align: left;
    padding-left: 60%;
    padding-top: 7%;
  });

  .desktop({
    text-align: center;
    padding-left: 0;
    padding-top: 172px;
  });

  &::before {
    content: "";
    position: absolute;
    bottom: 50%;
    width: 78px;
    height: 80px;
    background-image: url("../img/gift-icon.svg");

    .tablet({
      bottom: auto;
      left: 77px;
      width: 80px;
      height: 83px;
    });

    .desktop({
      bottom: 42%;
    });
  }
}
