.page-header {
  padding-top: 10px;

  .tablet({
    padding-top: 26px;
    margin-bottom: 0;
  });

  .desktop({
    padding-top: 56px;
    margin-bottom: 82px;

    &--index {
      background: linear-gradient(to right, #FFFFFF 50%, #68B738 50%);
    }
  });
}

.page-header__container {
  .tablet({
    margin-bottom: 62px;
  });

  .desktop({
    margin-bottom: 32px;
  });
}
