.page-main__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: @text-black;
  text-transform: none;
}

.page-main__description {
  font-size: 14px;
  color: @text-black;
}

.page-main__wrapper {
  .desktop({
    display: flex;
    justify-content: space-between;
    margin-bottom: 86px;
  });
}
