@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("/source/fonts/oswaldregular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("/source/fonts/oswaldmedium.woff2") format("woff2");
  font-display: swap;
}

@text-white: #FFFFFF;
@text-gray: #444444;
@text-black: #000000;
@background-color-gray: #F2F2F2;
@background-color-gray-dark: #EAEAEA;
@background-color-green: #68B738;

.page {
  height: 100%;
}

.page__body {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @text-gray;
}
