.page-footer {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  background-color: @background-color-gray;

  .tablet({
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
  });

  .desktop({
    padding: 0 110px;
  });
}
