.page-header {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  padding-top: 10px;

  .tablet({
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
    padding-top: 26px;
  });

  .desktop({
    padding: 0 110px;
    padding-top: 56px;
  });
}

.page-header__container {
  display: flex;
  justify-content: space-between;
}

.page-header__button {
  margin: 0;

  .tablet({
    display: none;
  });
}
