.page-header {
  padding-top: 10px;
  margin-bottom: 17px;

  .tablet({
    padding-top: 26px;
    margin-bottom: 62px;
  });

  .desktop({
    padding-top: 56px;
    margin-bottom: 114px;
  });
}

.page-header__container {
  .tablet({
    display: flex;
    justify-content: space-between;
  });
}

.page-header__logo-button {
  display: flex;
  justify-content: space-between;
}

.page-header__logo-container {
  display: flex;
  justify-content: space-between;
  width: 192px;

  .tablet({
    width: 174px;
  });

  .desktop({
    width: 202px;
  });
}

.page-header__logo {
  margin: 0;
}

.page-header__logo-link {
  display: block;
}

.page-header__image {
  display: block;
}

.page-header__button {
  margin: 0;

  .tablet({
    display: none;
  });
}
