.promo {
  margin-bottom: 20px;
  padding: 0 20px;
  font-family: "Oswald", "Arial", sans-serif;
  color: @white;
  background-color: @background-color-green;
  background-image: url("../img/background-promo-mobile.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;

  .mobile({
    text-align: center;
  });

  .tablet({
    background: @white;
    color: @text-black;
  });

  .desktop({
    background-color: @background-color-green;
  });
}

.promo__title {
  margin: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.promo__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}
