.site-list {
  .clear-list();
  text-align: center;

  .tablet({
    display: flex;
    justify-content: space-between;
    width: 440px;
  });

  .desktop({
    width: 478px;
  });
}

.site-list__item {
  a {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: @text-black;
    text-decoration: none;
    text-transform: uppercase;

    .tablet({
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
    });

    .desktop({
      font-size: 20px;
      line-height: 30px;
      color: @white;
    });
  }
}
