.title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: @black;

  .tablet({
    font-size: 60px;
    line-height: 60px;
  });

  &--inner {
    .mobile({
      line-height: 36px;
    });
  }

  &--sub-title {
    font-size: 24px;
    line-height: 24px;

    .tablet({
      font-size: 36px;
      line-height: 36px;
    });
  }
}
