//Colors

@white: #FFFFFF;
@text-gray: #444444;
@black: #000000;
@lite-gray: #E6E6E6;
@mid-gray: #D9D9D9;
@dark-gray: #CDCDCD;
@background-color-gray: #F2F2F2;
@background-color-gray-dark: #EAEAEA;
@background-color-green: #68B738;
@background-color-green-dark: #5EAA2F;

//Viewports

@tablet-width: 768px;
@desktop-width: 1440px;
@mobile-width-only: 767px;
